@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

html, body {
  margin: 0px 100px 0px 100px;
  height: 100%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: inherit;
  grid-template-areas: 
    'logo'
    'navbar'
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-height: 300px;
}

.button-container {
  padding: 0px 4px 3px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: right;
  display: grid;
}

.cmd-button {
  width: 105px;
  height: 70px;
}

.logo-link {
  color: black;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  background-color: rgba(191, 255, 0, 0.93);
}

#cmd-button-symbol {
  align-self: flex-start;
  font-size: 25px;
}

#cmd-button-text {
  align-self: flex-end;
  font-size: 18px;
}

#connector {
  font-size: 50px;
  color: black;
  margin: 10px;
}

.mish-button {
  width: 100px;
  height: 70px;
}

#mish-button-text {
  align-self: flex-end;
  font-size: 18px;
}

.nav-bar {
  margin-top: 20px;
  max-height: 100px;
  text-align: center;
}

.nav-bar ul {
  padding: 0;
}

.nav-bar li {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: inline;
}

.nav-bar li a {
  color: black;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: rgba(191, 255, 0, 0.93);
}

.button-container:hover {
  background-color: rgba(191, 255, 0, 0.93);
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content {
  max-width: 1500px;
}

@media only screen and (max-width: 1000px) {
  html, body {
    margin: 0px 10px 0px 10px;
  }
}